/* .swiper {
    width: 100%;
}
.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;

} */
/* .card {
    width: 20em;
    height: 90%;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
} */
/* .swiper-slide:not(.swiper-slide-active){
    filter:blur(1px);
} */
/* .card__image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid purple;
    padding: 3px;
    margin-bottom: 2em;
}
.card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
} */
/* .card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__title {
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: 0.2em;
} */
/* .card__text {
    text-align: center;
    font-size: 1.5rem;
} */
